@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #002c0d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.land{
    background-color: aliceblue;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}
.title{
    background-color: black;
    height: 90px;
    border-radius: 8px 8px 0px 0px ;
    margin-top: -50px;
}
.title span{
    color: #fff;
    margin: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
form{
    margin: 30px;
   
}
form .row{
    margin: 5px 5px 0px 5px;
    width: 100%;
    background-color: #273232;
    padding: 10px;
    display: flex;
    /* padding-right: 15px; */
    border-radius: 5px;
    /* position: absolute; */
}
.row i{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}
.row input{
    width: 100%;
    padding: 10px 0px;
    background: 0;
    border: 0;
    outline: 0;
    color: #fff;
}
.row .button{
    color: #fff;
    font-size: 18px;
}
.btn:hover{
    background-color: black;
    cursor: pointer;
}
h2{
    font-size: 15px;
    margin: 5px;
    font-weight: 400;
}
h2 a{
    text-decoration: none;
}
p{
    text-align: center;
    margin-top: 10px;
}
.signup{
    text-decoration: none;
}
.signup:hover{
    text-decoration: underline;
    color: blue;
}